.search {
  display: flex;
  margin-bottom: 20px;
}

.search__input {
  width: 100%;
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
}

.search__btns {
  display: flex;
}
