html, body{
  height: 100%;
}

.page{
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.root{
  height: 100%;
}


.btn{
  min-height: 40px;
  display: inline-block;
  background-color: transparent;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 16px;
  color: #888;
  border-color: #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s;

  &:last-child{
    margin-right: 0;
  }

  &--active{
    color: #fff;
    background-color: #6BBBF0;
    border-color: #6BBBF0;
  }

  &--trash{
    border-color: tomato;
    color: tomato;

    &:hover{
      background-color: tomato;
      color: #fff;
    }
  }

  &--attention{
    border-color: darkgreen;
    color: darkgreen;

    &:hover{
      background-color: darkgreen;
      color: #fff;
    }
  }
}
